### Import libraries

In [31]:
import numpy as np
import pandas as pd
import gurobipy as grb
from gurobipy import GRB
import random

### Read and clean initial dataset

In [32]:
data = pd.read_csv("data.csv")
data

,Crs & Sec,CRN,Title,Cred,Days,Times,Room,Instructor
0,AFR-101-0,10001.0,Intro to Africana Studies,1.0,TR,9:40 - 10:55 AM,LIB STUDIOD,Garcia-Rojas C
1,AFR-283-0,10529.0,"Islands, Arch & Blk Womns Lit",1.0,TR,1:40 - 2:55 PM,LIB STUDIOD,Gill-Sadler R
2,AFR-302-0,10540.0,Blk Wmn's Intellectual History,1.0,TR,8:15 - 9:30 AM,CHAM 1045,Green H
3,AFR-495-0,10514.0,Africana Capstone,1.0,W,1:30 - 4:20 PM,CHAM 1046,Green H
4,ANT-101-0,10003.0,Intro Cultural Anthropology,1.0,TR,9:40 - 10:55 AM,WATSON 147,Shuman S
...,...,...,...,...,...,...,...,...
461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,NaN,NaN,NaN,NaN,TR,9:40 - 10:55 AM,WALL B46,NaN
463,PSY-302-D,10508.0,Psy Research: Behavior Pharm,1.0,MWF,8:30 - 9:20 AM,CHAM 1045,Smith M
464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,NaN,NaN,NaN,NaN,TR,9:40 - 10:55 AM,WALL B46,NaN

In [33]:
data.columns

Index(['Crs & Sec', 'CRN', 'Title', 'Cred', 'Days', 'Times', 'Room',
       'Instructor'],
      dtype='object')

Drop rows containing NAN values

In [34]:
data.dropna(inplace=True)
data.isnull().values.any()
data.reset_index(inplace=True)

#### Get the classrooms data

In [35]:
classrooms_data = data["Room"].unique()
classrooms_data

array(['LIB STUDIOD', 'CHAM 1045', 'CHAM 1046', 'WATSON 147',
       'WATSON 119', 'WATSON 157', 'CHAM 2196', 'WALL 243', 'CHAM 3234',
       'VAC 117', 'VAC 203', 'VAC 223', 'VAC 213', 'VAC 104', 'VAC 105',
       'VAC 106', 'VAC 212', 'VAC 108', 'VAC 214', 'WALL 210', 'WALL 106',
       'LIB B110', 'WALL B05', 'WALL 143', 'CHAM 3130', 'WALL 323',
       'WATSON 109', 'WALL 307', 'WALL 320', 'WALL 351', 'CHAM 1027',
       'CHAM 1015', 'CHAM 3106', 'CHAM 2198', 'CHAM 1086', 'CHAM 1062',
       'CHAM 1003', 'CHAM 1096', 'CHAM B027', 'CHAM 1006', 'WATSON 132',
       'WALL 380', 'CHAM LRC', 'CHAM 3187', 'BAKER 1100', 'CHAM 3198',
       'SLOAN 100', 'CHAM 2164', 'CHAM HANCE', 'WATSON 140', 'DANA 146',
       'CHAM 3155', 'CHAM 2146', 'CHAM 2068', 'CHAM 3084', 'CHAM 2084',
       'CHAM 2187', 'SLOAN 201', 'CHAM 2209', 'CUNN 109', 'EU 101',
       'WATSON 310', 'DANA 220', 'WALL 251', 'CHAM 3068', 'CHAM 2130',
       'CHAM 3209', 'CHAM 2234', 'SLOAN B011', 'SLOAN B020', 'CHAM B022',
       'DANA 127', 'DANA 111', 'DANA 256', 'DANA 153', 'CHAM 3196',
       'CUNN 111'], dtype=object)

#### Get the course data

In [36]:
course_data = data[["Crs & Sec", "Instructor"]]
course_data

     Crs & Sec      Instructor
0    AFR-101-0  Garcia-Rojas C
1    AFR-283-0   Gill-Sadler R
2    AFR-302-0         Green H
3    AFR-495-0         Green H
4    ANT-101-0        Shuman S
..         ...             ...
339  PSY-300-0         Eiler B
340  PSY-302-A         Smith M
341  PSY-302-B         Smith M
342  PSY-302-C         Smith M
343  PSY-302-D         Smith M

[344 rows x 2 columns]

#### Get data related to professor
- Professor ID maps to name
- Professor name to course id

In [37]:
prof_data = data["Instructor"].unique()
profs = {i: prof_data[i] for i in range(len(prof_data))}
profs

{0: 'Garcia-Rojas C',
 1: 'Gill-Sadler R',
 2: 'Green H',
 3: 'Shuman S',
 4: 'Cormier A',
 5: 'Bowles L',
 6: 'Joubin R',
 7: 'Martinez T',
 8: 'Starr T',
 9: 'Savage C',
 10: 'St Clair K',
 11: 'Dietrick J',
 12: 'Hundley C',
 13: 'Corso-Esquivel J',
 14: 'Bernd K',
 15: 'Wessner D',
 16: 'Campbell M',
 17: 'Villa S',
 18: 'Levasseur K',
 19: 'Wadgymar S',
 20: 'El Bejjani R',
 21: 'Heyer L',
 22: 'Smith K',
 23: 'Spillman J',
 24: 'Lom B',
 25: 'Meier A',
 26: 'Hales K',
 27: 'Spillman A',
 28: 'Thurtle-Schmidt B',
 29: 'Sarafova S',
 30: 'Sich J',
 31: 'Melonakos J',
 32: 'Alexander C',
 33: 'Striplin D',
 34: 'Fernandez-Torres L',
 35: 'Anstey M',
 36: 'El-Zaatari B',
 37: 'Blauch D',
 38: 'Hauser C',
 39: 'Key H',
 40: 'Stevens E',
 41: 'Myers J',
 42: 'Snyder N',
 43: 'Tsai M',
 44: 'Shao P',
 45: 'Shen V',
 46: 'Ewoodzie J',
 47: 'Krentz P',
 48: 'McClellan A',
 49: 'Truetzel A',
 50: 'Baugh S',
 51: 'Martinez A',
 52: 'Bailey I',
 53: 'Pulaj J',
 54: 'Mendes H',
 55: 'Nemitz C',
 56: 'Peck T',
 57: 'Wiedenbeck B',
 58: 'Bory A',
 59: 'Bahr H',
 60: 'Sample M',
 61: 'Heggestad J',
 62: 'Mundy O',
 63: 'Kabala J',
 64: 'Kumar V',
 65: 'Martin D',
 66: "O'Keefe S",
 67: 'Cools A',
 68: 'Stroup C',
 69: 'Foley M',
 70: 'Baker B',
 71: 'Crandall B',
 72: 'Gouri Suresh S',
 73: 'Gay R',
 74: 'Marsicano C',
 75: 'Stutts L',
 76: 'Murray B',
 77: 'Fernandez R',
 78: 'Jung J',
 79: 'Kuzmanovich Z',
 80: 'Parker A',
 81: 'Benson R',
 82: 'Fackler M',
 83: 'Campbell S',
 84: 'Green S',
 85: 'Fox A',
 86: 'Flanagan B',
 87: 'Lewis C',
 88: 'Vaz O',
 89: 'Ingram R',
 90: 'Chapman L',
 91: 'Worl J',
 92: 'Gfroerer T',
 93: 'Ulus Y',
 94: 'Merrill A',
 95: 'McCarthy M',
 96: 'Muzart T',
 97: 'Vredenburgh A',
 98: 'Kruger C',
 99: 'Postoli S',
 100: 'Frazier-Rath E',
 101: 'Henke B',
 102: 'Gonzalez M',
 103: 'Simpson D',
 104: 'Henry L',
 105: 'Stremlau R',
 106: 'Wertheimer J',
 107: 'Berkey J',
 108: 'Mortensen D',
 109: 'Dietz V',
 110: 'Aldridge D',
 111: 'Wiemers A',
 112: 'Tilburg P',
 113: 'Boyer P',
 114: 'Breitenfeld S',
 115: 'Blake H',
 116: 'Duhon A',
 117: 'Molinek D',
 118: 'Chan F',
 119: 'Merriman C',
 120: 'Yerger C',
 121: 'Botelho M',
 122: 'Keith T',
 123: 'Lerner N',
 124: 'Pyle M',
 125: 'Stasack J',
 126: 'Bullock S',
 127: 'Chillag K',
 128: 'Studtmann P',
 129: 'Griffith M',
 130: 'Busch K',
 131: 'Jankovic M',
 132: 'McKeever S',
 133: 'Layman D',
 134: 'Robb D',
 135: 'Thompson K',
 136: 'Belloni M',
 137: 'Levy B',
 138: 'Kuchera A',
 139: 'Kuchera M',
 140: 'Yukich J',
 141: 'Ahrensdorf P',
 142: 'Crowder-Meyer M',
 143: 'Bullock G',
 144: 'Rigger S',
 145: 'Toska S',
 146: 'Ceka B',
 147: 'Shaw B',
 148: 'Roberts S',
 149: 'Yesnowitz J',
 150: "O'Geen A",
 151: 'Menkhaus K',
 152: 'Crandall R',
 153: 'Flaherty M',
 154: 'Bond A',
 155: 'Boyd M',
 156: 'Gadaire D',
 157: 'Sockol L',
 158: 'Good J',
 159: 'Eiler B',
 160: 'Smith M'}

In [38]:
instr_to_all_course_dict = course_data.groupby('Instructor').apply(lambda x: list(x.index)).to_dict()
instr_to_all_course_dict

{'Ahrensdorf P': [305, 315, 325],
 'Aldridge D': [231, 237],
 'Alexander C': [62, 63],
 'Anstey M': [68, 69, 87],
 'Bahr H': [126, 127],
 'Bailey I': [104, 105, 106],
 'Baker B': [148, 149, 150],
 'Baugh S': [101, 103],
 'Belloni M': [292, 293, 298],
 'Benson R': [169, 170],
 'Berkey J': [227, 238],
 'Bernd K': [29, 30],
 'Blake H': [249, 264],
 'Blauch D': [72, 73],
 'Bond A': [330, 338],
 'Bory A': [124, 125],
 'Botelho M': [265, 268],
 'Bowles L': [8, 9],
 'Boyd M': [331, 336],
 'Boyer P': [241, 242],
 'Breitenfeld S': [247, 248],
 'Bullock G': [308],
 'Bullock S': [273, 274],
 'Busch K': [279],
 'Campbell M': [33, 34],
 'Campbell S': [172],
 'Ceka B': [313, 314, 320],
 'Chan F': [255, 260],
 'Chapman L': [185, 186, 190],
 'Chillag K': [275, 276],
 'Cools A': [140, 141],
 'Cormier A': [5, 7],
 'Corso-Esquivel J': [26, 27],
 'Crandall B': [153, 243],
 'Crandall R': [323],
 'Crowder-Meyer M': [306, 307, 327],
 'Dietrick J': [20, 21, 25],
 'Dietz V': [229, 239],
 'Duhon A': [250, 251, 252],
 'Eiler B': [339],
 'El Bejjani R': [41, 42],
 'El-Zaatari B': [70, 71],
 'Ewoodzie J': [96],
 'Fackler M': [171, 179],
 'Fernandez R': [164],
 'Fernandez-Torres L': [66, 67],
 'Flaherty M': [329],
 'Flanagan B': [175, 176],
 'Foley M': [144, 145, 146, 147, 151, 155],
 'Fox A': [174, 183],
 'Frazier-Rath E': [209, 210, 213],
 'Gadaire D': [332, 337],
 'Garcia-Rojas C': [0],
 'Gay R': [157, 161],
 'Gfroerer T': [188, 189, 296, 297],
 'Gill-Sadler R': [1, 180],
 'Gonzalez M': [220, 222],
 'Good J': [334],
 'Gouri Suresh S': [154, 156],
 'Green H': [2, 3],
 'Green S': [173],
 'Griffith M': [278, 287],
 'Hales K': [50, 58],
 'Hauser C': [74, 75],
 'Heggestad J': [129, 130],
 'Henke B': [214, 215, 216],
 'Henry L': [224, 235],
 'Heyer L': [43, 113, 254],
 'Hundley C': [22, 23],
 'Ingram R': [184],
 'Jankovic M': [280, 283, 285],
 'Joubin R': [10, 11, 12],
 'Jung J': [165, 168],
 'Kabala J': [133, 223],
 'Keith T': [266],
 'Key H': [76, 77],
 'Krentz P': [97, 217, 218, 219],
 'Kruger C': [202, 203],
 'Kuchera A': [299],
 'Kuchera M': [300, 303],
 'Kumar V': [134, 152],
 'Kuzmanovich Z': [166, 181],
 'Layman D': [286, 288],
 'Lerner N': [267, 272],
 'Levasseur K': [37, 38],
 'Levy B': [294, 295, 302],
 'Lewis C': [177],
 'Lom B': [47, 48],
 'Marsicano C': [158, 159],
 'Martin D': [135, 138, 139],
 'Martinez A': [102, 107, 108],
 'Martinez T': [13, 24],
 'McCarthy M': [195, 211, 212],
 'McClellan A': [98, 245, 246],
 'McKeever S': [284],
 'Meier A': [49, 56, 57],
 'Melonakos J': [60, 61],
 'Mendes H': [110, 120],
 'Menkhaus K': [322, 324],
 'Merrill A': [194],
 'Merriman C': [256, 257],
 'Molinek D': [253, 261],
 'Mortensen D': [228, 233],
 'Mundy O': [131, 132],
 'Murray B': [162, 163, 312],
 'Muzart T': [196, 197, 198, 199, 207, 208],
 'Myers J': [82, 83],
 'Nemitz C': [111, 112, 121],
 "O'Geen A": [321, 328],
 "O'Keefe S": [136, 137],
 'Parker A': [167, 178],
 'Peck T': [116, 117, 122],
 'Postoli S': [204, 206],
 'Pulaj J': [109, 114, 115, 258, 259],
 'Pyle M': [269],
 'Rigger S': [309],
 'Robb D': [289],
 'Roberts S': [318, 326],
 'Sample M': [128],
 'Sarafova S': [54, 55],
 'Savage C': [15, 19],
 'Shao P': [90, 91, 95],
 'Shaw B': [316, 317],
 'Shen V': [92, 93],
 'Shuman S': [4, 6],
 'Sich J': [59],
 'Simpson D': [221],
 'Smith K': [44],
 'Smith M': [340, 341, 342, 343],
 'Snyder N': [84, 85],
 'Sockol L': [333],
 'Spillman A': [51],
 'Spillman J': [46],
 'St Clair K': [16, 28],
 'Starr T': [14, 17, 18],
 'Stasack J': [270, 271],
 'Stevens E': [78, 79, 86],
 'Stremlau R': [225, 230, 240],
 'Striplin D': [64, 65, 80, 81],
 'Stroup C': [142, 143],
 'Studtmann P': [277, 281, 282],
 'Stutts L': [160, 335],
 'Thompson K': [290, 291],
 'Thurtle-Schmidt B': [52, 53],
 'Tilburg P': [234],
 'Toska S': [310, 311],
 'Truetzel A': [99, 100, 244],
 'Tsai M': [88, 89, 94],
 'Ulus Y': [191, 193],
 'Vaz O': [182],
 'Villa S': [35, 36],
 'Vredenburgh A': [200, 201, 205],
 'Wadgymar S': [39, 40, 45],
 'Wertheimer J': [226, 236],
 'Wessner D': [31, 32],
 'Wiedenbeck B': [118, 119, 123],
 'Wiemers A': [232],
 'Worl J': [187, 192],
 'Yerger C': [262, 263],
 'Yesnowitz J': [319],
 'Yukich J': [301, 304]}

In [39]:
course_to_instr_dict = course_data.set_index('Crs & Sec').to_dict()['Instructor']
course_to_instr_dict

{'AFR-101-0': 'Garcia-Rojas C',
 'AFR-283-0': 'Gill-Sadler R',
 'AFR-302-0': 'Green H',
 'AFR-495-0': 'Green H',
 'ANT-101-0': 'Shuman S',
 'ANT-102-0': 'Cormier A',
 'ANT-220-0': 'Shuman S',
 'ANT-340-0': 'Cormier A',
 'ANT-373-0': 'Bowles L',
 'ANT-490-0': 'Bowles L',
 'ARB-101-0': 'Joubin R',
 'ARB-201-0': 'Joubin R',
 'ARB-326-0': 'Joubin R',
 'ART-100-0': 'Martinez T',
 'ART-101-A': 'Starr T',
 'ART-101-B': 'Savage C',
 'ART-103-0': 'St Clair K',
 'ART-105-0': 'Starr T',
 'ART-107-0': 'Starr T',
 'ART-109-0': 'Savage C',
 'ART-111-A': 'Dietrick J',
 'ART-111-B': 'Dietrick J',
 'ART-126-0': 'Hundley C',
 'ART-206-0': 'Hundley C',
 'ART-210-0': 'Martinez T',
 'ART-211-0': 'Dietrick J',
 'ART-218-0': 'Corso-Esquivel J',
 'ART-400-0': 'Corso-Esquivel J',
 'ART-401-0': 'St Clair K',
 'BIO-111-A': 'Bernd K',
 'BIO-111-B': 'Bernd K',
 'BIO-111-C': 'Wessner D',
 'BIO-111-D': 'Wessner D',
 'BIO-113-A': 'Campbell M',
 'BIO-113-B': 'Campbell M',
 'BIO-114-A': 'Villa S',
 'BIO-114-B': 'Villa S',
 'BIO-114-C': 'Levasseur K',
 'BIO-114-D': 'Levasseur K',
 'BIO-114-E': 'Wadgymar S',
 'BIO-114-F': 'Wadgymar S',
 'BIO-201-A': 'El Bejjani R',
 'BIO-201-B': 'El Bejjani R',
 'BIO-209-0': 'Heyer L',
 'BIO-237-0': 'Smith K',
 'BIO-240-0': 'Wadgymar S',
 'BIO-260-0': 'Spillman J',
 'BIO-261-A': 'Lom B',
 'BIO-261-B': 'Lom B',
 'BIO-268-0': 'Meier A',
 'BIO-269-0': 'Hales K',
 'BIO-290-0': 'Spillman A',
 'BIO-303-A': 'Thurtle-Schmidt B',
 'BIO-303-B': 'Thurtle-Schmidt B',
 'BIO-307-A': 'Sarafova S',
 'BIO-307-B': 'Sarafova S',
 'BIO-321-A': 'Meier A',
 'BIO-321-B': 'Meier A',
 'BIO-352-0': 'Hales K',
 'BIO-361-0': 'Sich J',
 'BIO-365-A': 'Melonakos J',
 'BIO-365-B': 'Melonakos J',
 'CHE-106-A': 'Alexander C',
 'CHE-106-B': 'Alexander C',
 'CHE-115-A': 'Striplin D',
 'CHE-115-B': 'Striplin D',
 'CHE-115-C': 'Fernandez-Torres L',
 'CHE-115-D': 'Fernandez-Torres L',
 'CHE-115-E': 'Anstey M',
 'CHE-115-F': 'Anstey M',
 'CHE-115-G': 'El-Zaatari B',
 'CHE-115-H': 'El-Zaatari B',
 'CHE-220-A': 'Blauch D',
 'CHE-220-B': 'Blauch D',
 'CHE-220-C': 'Hauser C',
 'CHE-220-D': 'Hauser C',
 'CHE-250-A': 'Key H',
 'CHE-250-B': 'Key H',
 'CHE-250-C': 'Stevens E',
 'CHE-250-D': 'Stevens E',
 'CHE-260-A': 'Striplin D',
 'CHE-260-B': 'Striplin D',
 'CHE-330-A': 'Myers J',
 'CHE-330-B': 'Myers J',
 'CHE-350-A': 'Snyder N',
 'CHE-350-B': 'Snyder N',
 'CHE-374-0': 'Stevens E',
 'CHE-440-0': 'Anstey M',
 'CHI-101-A': 'Tsai M',
 'CHI-101-B': 'Tsai M',
 'CHI-201-A': 'Shao P',
 'CHI-201-B': 'Shao P',
 'CHI-207-0': 'Shen V',
 'CHI-301-0': 'Shen V',
 'CHI-353-0': 'Tsai M',
 'CHI-401-0': 'Shao P',
 'CIS-276-0': 'Ewoodzie J',
 'CLA-111-0': 'Krentz P',
 'CLA-260-0': 'McClellan A',
 'CLA-336-0': 'Truetzel A',
 'CLA-480-0': 'Truetzel A',
 'COM-101-0': 'Baugh S',
 'COM-201-0': 'Martinez A',
 'COM-202-0': 'Baugh S',
 'COM-204-0': 'Bailey I',
 'COM-273-0': 'Bailey I',
 'COM-330-0': 'Bailey I',
 'COM-495-0': 'Martinez A',
 'COM-496-0': 'Martinez A',
 'CSC-110-0': 'Pulaj J',
 'CSC-121-A': 'Mendes H',
 'CSC-121-B': 'Nemitz C',
 'CSC-121-C': 'Nemitz C',
 'CSC-209-0': 'Heyer L',
 'CSC-220-A': 'Pulaj J',
 'CSC-220-B': 'Pulaj J',
 'CSC-221-A': 'Peck T',
 'CSC-221-B': 'Peck T',
 'CSC-250-0': 'Wiedenbeck B',
 'CSC-321-0': 'Wiedenbeck B',
 'CSC-352-0': 'Mendes H',
 'CSC-358-0': 'Nemitz C',
 'CSC-361-0': 'Peck T',
 'CSC-381-0': 'Wiedenbeck B',
 'DAN-101-0': 'Bory A',
 'DAN-140-0': 'Bory A',
 'DAN-240-0': 'Bahr H',
 'DAN-246-0': 'Bahr H',
 'DIG-101-A': 'Sample M',
 'DIG-101-B': 'Heggestad J',
 'DIG-210-0': 'Heggestad J',
 'DIG-245-A': 'Mundy O',
 'DIG-245-B': 'Mundy O',
 'DIG-270-0': 'Kabala J',
 'ECO-101-A': 'Kumar V',
 'ECO-101-B': 'Martin D',
 'ECO-101-C': "O'Keefe S",
 'ECO-101-D': "O'Keefe S",
 'ECO-105-A': 'Martin D',
 'ECO-105-B': 'Martin D',
 'ECO-202-A': 'Cools A',
 'ECO-202-B': 'Cools A',
 'ECO-203-A': 'Stroup C',
 'ECO-203-B': 'Stroup C',
 'ECO-205-A': 'Foley M',
 'ECO-205-B': 'Foley M',
 'ECO-205-C': 'Foley M',
 'ECO-205-D': 'Foley M',
 'ECO-211-A': 'Baker B',
 'ECO-211-B': 'Baker B',
 'ECO-213-0': 'Baker B',
 'ECO-219-0': 'Foley M',
 'ECO-238-O': 'Kumar V',
 'ECO-288-0': 'Crandall B',
 'ECO-337-0': 'Gouri Suresh S',
 'ECO-494-0': 'Foley M',
 'ECO-495-0': 'Gouri Suresh S',
 'EDU-121-0': 'Gay R',
 'EDU-200-0': 'Marsicano C',
 'EDU-208-0': 'Marsicano C',
 'EDU-234-0': 'Stutts L',
 'EDU-270-0': 'Gay R',
 'EDU-300-0': 'Murray B',
 'EDU-330-0': 'Murray B',
 'EDU-361-0': 'Fernandez R',
 'ENG-110-A': 'Jung J',
 'ENG-110-B': 'Kuzmanovich Z',
 'ENG-110-C': 'Parker A',
 'ENG-203-0': 'Jung J',
 'ENG-205-0': 'Benson R',
 'ENG-211-0': 'Benson R',
 'ENG-220-0': 'Fackler M',
 'ENG-231-0': 'Campbell S',
 'ENG-242-0': 'Green S',
 'ENG-261-0': 'Fox A',
 'ENG-290-0': 'Flanagan B',
 'ENG-291-0': 'Flanagan B',
 'ENG-301-0': 'Lewis C',
 'ENG-307-I': 'Parker A',
 'ENG-360-0': 'Fackler M',
 'ENG-380-0': 'Gill-Sadler R',
 'ENG-391-0': 'Kuzmanovich Z',
 'ENG-462-0': 'Vaz O',
 'ENG-494-0': 'Fox A',
 'ENG-498-0': 'Ingram R',
 'ENV-201-A': 'Chapman L',
 'ENV-201-B': 'Chapman L',
 'ENV-202-0': 'Worl J',
 'ENV-214-A': 'Gfroerer T',
 'ENV-214-B': 'Gfroerer T',
 'ENV-237-0': 'Chapman L',
 'ENV-239-0': 'Ulus Y',
 'ENV-242-0': 'Worl J',
 'ENV-339-0': 'Ulus Y',
 'ENV-498-0': 'Merrill A',
 'FMS-220-0': 'McCarthy M',
 'FRE-101-A': 'Muzart T',
 'FRE-101-B': 'Muzart T',
 'FRE-101-C': 'Muzart T',
 'FRE-101-D': 'Muzart T',
 'FRE-102-0': 'Vredenburgh A',
 'FRE-201-A': 'Vredenburgh A',
 'FRE-201-B': 'Kruger C',
 'FRE-201-C': 'Kruger C',
 'FRE-212-0': 'Postoli S',
 'FRE-220-0': 'Vredenburgh A',
 'FRE-329-0': 'Postoli S',
 'FRE-371-0': 'Muzart T',
 'FRE-490-0': 'Muzart T',
 'GER-101-A': 'Frazier-Rath E',
 'GER-101-B': 'Frazier-Rath E',
 'GER-201-A': 'McCarthy M',
 'GER-201-B': 'McCarthy M',
 'GER-231-0': 'Frazier-Rath E',
 'GER-260-0': 'Henke B',
 'GER-370-0': 'Henke B',
 'GER-458-0': 'Henke B',
 'GRE-201-0': 'Krentz P',
 'GRE-218-0': 'Krentz P',
 'GRE-318-0': 'Krentz P',
 'GSS-101-0': 'Gonzalez M',
 'GSS-190-0': 'Simpson D',
 'GSS-498-0': 'Gonzalez M',
 'HIS-112-0': 'Kabala J',
 'HIS-122-0': 'Henry L',
 'HIS-141-0': 'Stremlau R',
 'HIS-142-0': 'Wertheimer J',
 'HIS-175-0': 'Berkey J',
 'HIS-183-0': 'Mortensen D',
 'HIS-222-0': 'Dietz V',
 'HIS-248-0': 'Stremlau R',
 'HIS-255-0': 'Aldridge D',
 'HIS-267-0': 'Wiemers A',
 'HIS-286-0': 'Mortensen D',
 'HIS-328-0': 'Tilburg P',
 'HIS-337-0': 'Henry L',
 'HIS-355-0': 'Wertheimer J',
 'HIS-357-0': 'Aldridge D',
 'HIS-375-0': 'Berkey J',
 'HIS-480-0': 'Dietz V',
 'HIS-488-0': 'Stremlau R',
 'HUM-103-0': 'Boyer P',
 'HUM-195-0': 'Boyer P',
 'LAS-101-0': 'Crandall B',
 'LAT-101-0': 'Truetzel A',
 'LAT-201-A': 'McClellan A',
 'LAT-201-B': 'McClellan A',
 'LAT-221-0': 'Breitenfeld S',
 'LAT-321-0': 'Breitenfeld S',
 'MAT-111-0': 'Blake H',
 'MAT-112-A': 'Duhon A',
 'MAT-112-B': 'Duhon A',
 'MAT-113-A': 'Duhon A',
 'MAT-113-B': 'Molinek D',
 'MAT-140-0': 'Heyer L',
 'MAT-150-A': 'Chan F',
 'MAT-150-B': 'Merriman C',
 'MAT-160-0': 'Merriman C',
 'MAT-220-A': 'Pulaj J',
 'MAT-220-B': 'Pulaj J',
 'MAT-230-0': 'Chan F',
 'MAT-235-0': 'Molinek D',
 'MAT-330-0': 'Yerger C',
 'MAT-340-0': 'Yerger C',
 'MAT-355-0': 'Blake H',
 'MUS-101-0': 'Botelho M',
 'MUS-121-0': 'Keith T',
 'MUS-122-0': 'Lerner N',
 'MUS-201-0': 'Botelho M',
 'MUS-226-0': 'Pyle M',
 'MUS-265-A': 'Stasack J',
 'MUS-265-B': 'Stasack J',
 'MUS-401-0': 'Lerner N',
 'PBH-110-0': 'Bullock S',
 'PBH-250-0': 'Bullock S',
 'PBH-280-0': 'Chillag K',
 'PBH-395-0': 'Chillag K',
 'PHI-105-0': 'Studtmann P',
 'PHI-107-0': 'Griffith M',
 'PHI-110-0': 'Busch K',
 'PHI-122-0': 'Jankovic M',
 'PHI-160-0': 'Studtmann P',
 'PHI-200-0': 'Studtmann P',
 'PHI-211-0': 'Jankovic M',
 'PHI-215-0': 'McKeever S',
 'PHI-216-0': 'Jankovic M',
 'PHI-220-0': 'Layman D',
 'PHI-235-0': 'Griffith M',
 'PHI-325-0': 'Layman D',
 'PHI-350-0': 'Robb D',
 'PHY-106-A': 'Thompson K',
 'PHY-106-B': 'Thompson K',
 'PHY-125-A': 'Belloni M',
 'PHY-125-B': 'Belloni M',
 'PHY-125-C': 'Levy B',
 'PHY-125-D': 'Levy B',
 'PHY-214-A': 'Gfroerer T',
 'PHY-214-B': 'Gfroerer T',
 'PHY-235-0': 'Belloni M',
 'PHY-310-0': 'Kuchera A',
 'PHY-320-A': 'Kuchera M',
 'PHY-320-B': 'Yukich J',
 'PHY-330-0': 'Levy B',
 'PHY-360-0': 'Kuchera M',
 'PHY-400-0': 'Yukich J',
 'POL-101-0': 'Ahrensdorf P',
 'POL-121-A': 'Crowder-Meyer M',
 'POL-121-B': 'Crowder-Meyer M',
 'POL-141-A': 'Bullock G',
 'POL-141-B': 'Rigger S',
 'POL-161-A': 'Toska S',
 'POL-161-B': 'Toska S',
 'POL-180-0': 'Murray B',
 'POL-182-A': 'Ceka B',
 'POL-182-B': 'Ceka B',
 'POL-202-0': 'Ahrensdorf P',
 'POL-203-0': 'Shaw B',
 'POL-204-0': 'Shaw B',
 'POL-220-0': 'Roberts S',
 'POL-238-0': 'Yesnowitz J',
 'POL-242-0': 'Ceka B',
 'POL-327-0': "O'Geen A",
 'POL-347-0': 'Menkhaus K',
 'POL-361-0': 'Crandall R',
 'POL-362-0': 'Menkhaus K',
 'POL-401-0': 'Ahrensdorf P',
 'POL-423-0': 'Roberts S',
 'POL-424-0': 'Crowder-Meyer M',
 'POL-425-0': "O'Geen A",
 'PSY-101-A': 'Flaherty M',
 'PSY-101-B': 'Bond A',
 'PSY-101-D': 'Boyd M',
 'PSY-200-0': 'Gadaire D',
 'PSY-231-0': 'Sockol L',
 'PSY-232-0': 'Good J',
 'PSY-234-0': 'Stutts L',
 'PSY-254-0': 'Boyd M',
 'PSY-266-0': 'Gadaire D',
 'PSY-276-0': 'Bond A',
 'PSY-300-0': 'Eiler B',
 'PSY-302-A': 'Smith M',
 'PSY-302-B': 'Smith M',
 'PSY-302-C': 'Smith M',
 'PSY-302-D': 'Smith M'}

#### Get time period data

In [40]:
time_data = pd.read_csv("class_timeslots.csv")
time_data = time_data.days + " " + time_data.start + "-" + time_data.end
time_data

0       M W F 8:30-9:20
1      M W F 9:30-10:20
2     M W F 10:30-11:20
3     M W F 11:30-12:20
4     M W F 12:30-13:20
5     M W F 13:30-14:20
6     M W F 14:30-15:20
7         M W 8:05-9:20
8       M W 14:30-15:45
9         T R 8:15-9:30
10       T R 9:40-10:55
11      T R 12:15-13:30
12      T R 13:40-14:55
13      T R 15:05-16:20
dtype: object

Pair of overlapping time period

In [41]:
overlap_time = {
    (0,7),
    (6,8)
}

Assign random time preferences to each class since we do not have the real data

In [42]:
n = [i for i in time_data.index]
random.seed(0)
course_data['Preferences'] = course_data.apply(lambda x: random.sample(n, 4), axis=1)
course_data

/var/folders/hl/_9hwm7lx4n1frvtdjpmt8mvr0000gn/T/ipykernel_6414/1913984117.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  course_data['Preferences'] = course_data.apply(lambda x: random.sample(n, 4), axis=1)

     Crs & Sec      Instructor      Preferences
0    AFR-101-0  Garcia-Rojas C   [13, 6, 12, 0]
1    AFR-283-0   Gill-Sadler R     [4, 8, 7, 6]
2    AFR-302-0         Green H    [12, 4, 7, 5]
3    AFR-495-0         Green H     [9, 3, 8, 2]
4    ANT-101-0        Shuman S     [4, 2, 1, 9]
..         ...             ...              ...
339  PSY-300-0         Eiler B   [11, 13, 3, 5]
340  PSY-302-A         Smith M  [13, 7, 10, 11]
341  PSY-302-B         Smith M    [10, 3, 4, 5]
342  PSY-302-C         Smith M    [10, 2, 4, 0]
343  PSY-302-D         Smith M     [5, 9, 8, 0]

[344 rows x 3 columns]

Get the cardinality of $I , T, C$

In [43]:
# total numbers of classes C
I = len(course_data.index)
T = len(time_data.index)
C = len(classrooms_data)
print('Number of classes, time period, classrooms are %s, %s, %s, respectively' % (I, T, C))

Number of classes, time period, classrooms are 344, 14, 77, respectively

### Building Model

#### Model 1: Only need to satisfy the availability condition, no ranking between availabilities
Set Objective Function to Max 0

In [44]:
model = grb.Model()

Set parameter Username
Academic license - for non-commercial use only - expires 2024-04-02

In [45]:
x = model.addVars(I, T, C, vtype=GRB.BINARY, name="x")
x[0,0,0]
model.update()

In [46]:
model.setObjective(sense=grb.GRB.MAXIMIZE, expr=0)
model.update()

In [47]:
# Total assigned classroom equals to I
model.addConstr(x.sum() == I, name="Total_assigned_classroom_equals_to_I")

In [48]:
# Atmost one course per room per time
for t in range(T):
    for c in range(C):
        name = "Atmost_one_course_per_room_per_time_for_time_%s_classroom_%s" % (t, c)
        model.addConstr(x.sum('*', t, c) <= 1, name=name)

In [49]:
# availability of professor for each class
availabities = course_data.Preferences
for i in range(I):
    expr = 0
    avails = availabities[i]
    for avail in avails:
        expr += x.sum(i, avail, '*')
    name = "Availability_constraints_for_course_%s" %i
    model.addConstr(expr == 1, name=name)

In [50]:
# courses taught by the same professor must not happen at the same time or overlapping time
for t in range(T):
    for courses in instr_to_all_course_dict.values():
        expr = 0
        for course in courses:
            expr += x.sum(course, t, '*')
        model.addConstr(expr <= 1, name="Identical_Time_constraint_classes_%s" % (courses))
        
for courses in instr_to_all_course_dict.values():
    for period1, period2 in overlap_time:
        expr = 0
        for course in courses:
            expr = expr + x.sum(course, period1, '*') + x.sum(course, period2, '*')
        model.addConstr(expr <= 1, name="Overlap_Time_constraint_classes_%s_between_time_%s_and_%s" % (courses, period1, period2))

In [51]:
# classrooms must not have overlap time periods
for c in range(C):
    for period1, period2 in overlap_time:
        model.addConstr(x.sum("*", period1, c) + x.sum("*", period2, c) <= 1, name="Overlap_constraint_classroom_%s" % (c))

In [52]:
model.update()

In [53]:
model.optimize()
model.write("Model_1.lp")

Gurobi Optimizer version 10.0.1 build v10.0.1rc0 (mac64[arm])

CPU model: Apple M1 Pro
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 4153 rows, 370832 columns and 1430352 nonzeros
Model fingerprint: 0x0c59e6d9
Variable types: 0 continuous, 370832 integer (370832 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [0e+00, 0e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 3e+02]
Presolve removed 2640 rows and 268422 columns
Presolve time: 1.06s
Presolved: 1513 rows, 102410 columns, 245245 nonzeros
Variable types: 0 continuous, 102410 integer (102410 binary)
Found heuristic solution: objective -0.0000000

Explored 0 nodes (0 simplex iterations) in 1.22 seconds (2.35 work units)
Thread count was 8 (of 8 available processors)

Solution count 1: -0
No other solutions better than -0

Optimal solution found (tolerance 1.00e-04)
Best objective -0.000000000000e+00, best bound -0.000000000000e+00, gap 0.0000%
Warning: constraint name "Identical_Time_constraint_classes_[305, 315, 325]" has a space

#### Verify the results and print

In [54]:
if model.Status == GRB.OPTIMAL:
    times = {}
    times_index = {}
    class_rooms = {}
    solution = model.getAttr("X", x)
    for i in range(I):
        for t in range(T):
            for c in range(C):
                if solution[i, t, c] > 0 and t in availabities[i]:
                    times[i] = time_data[t]
                    times_index[i] = t
                    class_rooms[i] = classrooms_data[c]

    assert len(times) == I

In [55]:
res = course_data.copy()
res["Time"] = res.index.map(times)
res["Classroom"] = res.index.map(class_rooms)
res["Time_index"] = res.index.map(times_index)
res["Score"] = res.apply(lambda x: x["Preferences"].index(x["Time_index"]) + 1, axis=1)
res

,Crs & Sec,Instructor,Preferences,Time,Classroom,Time_index,Score
0,AFR-101-0,Garcia-Rojas C,"[13, 6, 12, 0]",T R 15:05-16:20,CHAM 2198,13,1
1,AFR-283-0,Gill-Sadler R,"[4, 8, 7, 6]",M W 8:05-9:20,CHAM 1027,7,3
2,AFR-302-0,Green H,"[12, 4, 7, 5]",T R 13:40-14:55,CUNN 109,12,1
3,AFR-495-0,Green H,"[9, 3, 8, 2]",T R 8:15-9:30,EU 101,9,1
4,ANT-101-0,Shuman S,"[4, 2, 1, 9]",T R 8:15-9:30,CHAM 3084,9,4
...,...,...,...,...,...,...,...
339,PSY-300-0,Eiler B,"[11, 13, 3, 5]",T R 15:05-16:20,VAC 105,13,2
340,PSY-302-A,Smith M,"[13, 7, 10, 11]",T R 15:05-16:20,VAC 213,13,1
341,PSY-302-B,Smith M,"[10, 3, 4, 5]",M W F 11:30-12:20,SLOAN B020,3,2
342,PSY-302-C,Smith M,"[10, 2, 4, 0]",M W F 10:30-11:20,DANA 127,2,2
343,PSY-302-D,Smith M,"[5, 9, 8, 0]",T R 8:15-9:30,CHAM 2198,9,2

In [56]:
check = res.groupby("Time")['Instructor'].apply(list).to_dict()
for list_profs in check.values():
    check_set = set()
    for prof in list_profs:
        check_set.add(prof)
    assert len(list_profs) == len(check_set)

In [57]:
total_score = res.Score.sum()
total_score

826

### Model 2: Ranked Availability

In [58]:
model2 = grb.Model()

In [59]:
x = model2.addVars(I, T, C, vtype=GRB.BINARY, name="x")
x[0,0,0]
model2.update()

In [60]:
# availability of professor for each class
availabities = course_data.Preferences
expr = grb.LinExpr()
for i in range(I):
    avails = availabities[i]
    for a in range(len(avails)):
        for c in range(C):
            expr += (a + 1) * x[i, avails[a], c]

model2.setObjective(expr, sense=grb.GRB.MAXIMIZE)
model2.update()

In [61]:
# Total assigned classroom equals to I
model2.addConstr(x.sum() == I, name="Total_assigned_classroom_equals_to_I")

# Atmost one course per room per time
for t in range(T):
    for c in range(C):
        name = "Atmost_one_course_per_room_per_time_for_time_%s_classroom_%s" % (t, c)
        model2.addConstr(x.sum('*', t, c) <= 1, name=name)


for i in range(I):
    expr = grb.LinExpr()
    avails = availabities[i]
    for avail in avails:
        expr += x.sum(i, avail, '*')
    name = "Availability_constraints_for_course_%s" %i
    model2.addConstr(expr == 1, name=name)

# courses taught by the same professor must not happen at the same time or overlapping time
for t in range(T):
    for courses in instr_to_all_course_dict.values():
        expr = grb.LinExpr()
        for course in courses:
            expr += x.sum(course, t, '*')
        model2.addConstr(expr <= 1, name="Identical_Time_constraint_classes_%s" % (courses))
        
for courses in instr_to_all_course_dict.values():
    for period1, period2 in overlap_time:
        expr = grb.LinExpr()
        for course in courses:
            expr = expr + x.sum(course, period1, '*') + x.sum(course, period2, '*')
        model2.addConstr(expr <= 1, name="Overlap_Time_constraint_classes_%s_between_time_%s_and_%s" % (courses, period1, period2))

# classrooms must not have overlap time periods
for c in range(C):
    for period1, period2 in overlap_time:
        model2.addConstr(x.sum("*", period1, c) + x.sum("*", period2, c) <= 1, name="Overlap_constraint_classroom_%s" % (c))

model2.update()

In [62]:
model2.optimize()
model2.write("Model_2.lp")

Gurobi Optimizer version 10.0.1 build v10.0.1rc0 (mac64[arm])

CPU model: Apple M1 Pro
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 4153 rows, 370832 columns and 1430352 nonzeros
Model fingerprint: 0x7fcdb399
Variable types: 0 continuous, 370832 integer (370832 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 4e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 3e+02]
Presolve removed 2640 rows and 268422 columns
Presolve time: 1.06s
Presolved: 1513 rows, 102410 columns, 245245 nonzeros
Variable types: 0 continuous, 102410 integer (102410 binary)
Found heuristic solution: objective 1149.0000000
Deterministic concurrent LP optimizer: primal and dual simplex
Showing first log only...

Concurrent spin time: 0.00s

Solved with dual simplex

Use crossover to convert LP symmetric solution to basic solution...

Root relaxation: objective 1.354000e+03, 26861 iterations, 0.10 seconds (0.13 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

H    0     0                    1354.0000000 258874.000      -     -    1s
     0     0          -    0      1354.00000 1354.00000  0.00%     -    1s

Explored 1 nodes (28973 simplex iterations) in 1.55 seconds (3.04 work units)
Thread count was 8 (of 8 available processors)

Solution count 2: 1354 1149

Optimal solution found (tolerance 1.00e-04)
Best objective 1.354000000000e+03, best bound 1.354000000000e+03, gap 0.0000%
Warning: constraint name "Identical_Time_constraint_classes_[305, 315, 325]" has a space

In [63]:
if model2.Status == GRB.OPTIMAL:
    times = {}
    times_index = {}
    class_rooms = {}
    solution = model2.getAttr("X", x)
    for i in range(I):
        for t in range(T):
            for c in range(C):
                if solution[i, t, c] > 0 and t in availabities[i]:
                    times[i] = time_data[t]
                    times_index[i] = t
                    class_rooms[i] = classrooms_data[c]

    assert len(times) == I

In [64]:
res2 = course_data.copy()
res2["Time"] = res2.index.map(times)
res2["Classroom"] = res2.index.map(class_rooms)
res2["Time_index"] = res2.index.map(times_index)
res2["Score"] = res2.apply(lambda x: x["Preferences"].index(x["Time_index"]) + 1, axis=1)
res2

,Crs & Sec,Instructor,Preferences,Time,Classroom,Time_index,Score
0,AFR-101-0,Garcia-Rojas C,"[13, 6, 12, 0]",M W F 8:30-9:20,WALL 351,0,4
1,AFR-283-0,Gill-Sadler R,"[4, 8, 7, 6]",M W F 14:30-15:20,WATSON 310,6,4
2,AFR-302-0,Green H,"[12, 4, 7, 5]",M W F 13:30-14:20,CHAM 2164,5,4
3,AFR-495-0,Green H,"[9, 3, 8, 2]",M W F 10:30-11:20,LIB STUDIOD,2,4
4,ANT-101-0,Shuman S,"[4, 2, 1, 9]",T R 8:15-9:30,CHAM 3084,9,4
...,...,...,...,...,...,...,...
339,PSY-300-0,Eiler B,"[11, 13, 3, 5]",M W F 13:30-14:20,WALL 320,5,4
340,PSY-302-A,Smith M,"[13, 7, 10, 11]",T R 12:15-13:30,WALL 106,11,4
341,PSY-302-B,Smith M,"[10, 3, 4, 5]",M W F 13:30-14:20,CHAM 1045,5,4
342,PSY-302-C,Smith M,"[10, 2, 4, 0]",M W F 8:30-9:20,WATSON 109,0,4
343,PSY-302-D,Smith M,"[5, 9, 8, 0]",M W 14:30-15:45,CHAM 2130,8,3

In [71]:
res2.to_csv("/Users/admin/Desktop/Codeee/CSC-385-Project/results.csv")

In [65]:
check = res2.groupby("Time")['Instructor'].apply(list).to_dict()
for list_profs in check.values():
    check_set = set()
    for prof in list_profs:
        check_set.add(prof)
    assert len(list_profs) == len(check_set)

In [66]:
res2.groupby("Instructor")['Score'].apply(list).to_dict()

{'Ahrensdorf P': [4, 4, 4],
 'Aldridge D': [4, 4],
 'Alexander C': [4, 4],
 'Anstey M': [3, 4, 4],
 'Bahr H': [4, 4],
 'Bailey I': [4, 4, 4],
 'Baker B': [4, 4, 4],
 'Baugh S': [4, 4],
 'Belloni M': [4, 4, 4],
 'Benson R': [4, 4],
 'Berkey J': [4, 4],
 'Bernd K': [4, 4],
 'Blake H': [4, 4],
 'Blauch D': [4, 4],
 'Bond A': [4, 4],
 'Bory A': [4, 4],
 'Botelho M': [4, 4],
 'Bowles L': [4, 4],
 'Boyd M': [4, 4],
 'Boyer P': [4, 4],
 'Breitenfeld S': [4, 4],
 'Bullock G': [4],
 'Bullock S': [4, 4],
 'Busch K': [4],
 'Campbell M': [4, 4],
 'Campbell S': [4],
 'Ceka B': [4, 4, 4],
 'Chan F': [4, 4],
 'Chapman L': [3, 4, 4],
 'Chillag K': [4, 4],
 'Cools A': [4, 4],
 'Cormier A': [4, 4],
 'Corso-Esquivel J': [4, 4],
 'Crandall B': [3, 4],
 'Crandall R': [4],
 'Crowder-Meyer M': [4, 4, 4],
 'Dietrick J': [4, 4, 4],
 'Dietz V': [3, 4],
 'Duhon A': [4, 4, 4],
 'Eiler B': [4],
 'El Bejjani R': [4, 4],
 'El-Zaatari B': [4, 4],
 'Ewoodzie J': [4],
 'Fackler M': [4, 3],
 'Fernandez R': [4],
 'Fernandez-Torres L': [4, 4],
 'Flaherty M': [4],
 'Flanagan B': [3, 4],
 'Foley M': [4, 4, 4, 3, 4, 4],
 'Fox A': [4, 4],
 'Frazier-Rath E': [4, 4, 4],
 'Gadaire D': [3, 4],
 'Garcia-Rojas C': [4],
 'Gay R': [4, 4],
 'Gfroerer T': [4, 4, 3, 4],
 'Gill-Sadler R': [4, 4],
 'Gonzalez M': [4, 4],
 'Good J': [4],
 'Gouri Suresh S': [4, 4],
 'Green H': [4, 4],
 'Green S': [4],
 'Griffith M': [4, 4],
 'Hales K': [4, 4],
 'Hauser C': [4, 4],
 'Heggestad J': [4, 4],
 'Henke B': [4, 4, 4],
 'Henry L': [4, 4],
 'Heyer L': [4, 4, 4],
 'Hundley C': [3, 4],
 'Ingram R': [4],
 'Jankovic M': [4, 4, 4],
 'Joubin R': [4, 4, 4],
 'Jung J': [4, 4],
 'Kabala J': [4, 4],
 'Keith T': [4],
 'Key H': [4, 4],
 'Krentz P': [4, 4, 4, 4],
 'Kruger C': [4, 4],
 'Kuchera A': [4],
 'Kuchera M': [4, 4],
 'Kumar V': [4, 4],
 'Kuzmanovich Z': [4, 4],
 'Layman D': [4, 4],
 'Lerner N': [4, 4],
 'Levasseur K': [4, 4],
 'Levy B': [3, 4, 4],
 'Lewis C': [4],
 'Lom B': [4, 4],
 'Marsicano C': [4, 4],
 'Martin D': [4, 4, 4],
 'Martinez A': [4, 4, 4],
 'Martinez T': [4, 4],
 'McCarthy M': [4, 4, 4],
 'McClellan A': [4, 4, 3],
 'McKeever S': [4],
 'Meier A': [4, 4, 4],
 'Melonakos J': [4, 4],
 'Mendes H': [4, 4],
 'Menkhaus K': [4, 4],
 'Merrill A': [4],
 'Merriman C': [4, 4],
 'Molinek D': [4, 4],
 'Mortensen D': [4, 4],
 'Mundy O': [4, 4],
 'Murray B': [4, 4, 4],
 'Muzart T': [4, 4, 4, 4, 4, 4],
 'Myers J': [4, 4],
 'Nemitz C': [4, 4, 4],
 "O'Geen A": [4, 4],
 "O'Keefe S": [4, 4],
 'Parker A': [4, 4],
 'Peck T': [4, 4, 4],
 'Postoli S': [4, 4],
 'Pulaj J': [4, 4, 4, 3, 4],
 'Pyle M': [4],
 'Rigger S': [4],
 'Robb D': [4],
 'Roberts S': [4, 4],
 'Sample M': [4],
 'Sarafova S': [4, 4],
 'Savage C': [4, 4],
 'Shao P': [4, 3, 4],
 'Shaw B': [4, 4],
 'Shen V': [4, 4],
 'Shuman S': [4, 4],
 'Sich J': [4],
 'Simpson D': [4],
 'Smith K': [4],
 'Smith M': [4, 4, 4, 3],
 'Snyder N': [4, 4],
 'Sockol L': [4],
 'Spillman A': [4],
 'Spillman J': [4],
 'St Clair K': [3, 4],
 'Starr T': [4, 4, 4],
 'Stasack J': [4, 4],
 'Stevens E': [4, 4, 4],
 'Stremlau R': [4, 4, 4],
 'Striplin D': [4, 3, 4, 4],
 'Stroup C': [3, 4],
 'Studtmann P': [4, 4, 4],
 'Stutts L': [4, 4],
 'Thompson K': [4, 4],
 'Thurtle-Schmidt B': [4, 4],
 'Tilburg P': [4],
 'Toska S': [4, 4],
 'Truetzel A': [4, 4, 4],
 'Tsai M': [4, 3, 4],
 'Ulus Y': [3, 4],
 'Vaz O': [4],
 'Villa S': [4, 4],
 'Vredenburgh A': [4, 4, 4],
 'Wadgymar S': [4, 3, 4],
 'Wertheimer J': [4, 4],
 'Wessner D': [4, 4],
 'Wiedenbeck B': [3, 4, 4],
 'Wiemers A': [4],
 'Worl J': [4, 4],
 'Yerger C': [4, 4],
 'Yesnowitz J': [4],
 'Yukich J': [4, 4]}

In [67]:
total_score2 = res2.Score.sum()
total_score2

1354

In [68]:
len(res2[res2.Score < 4].index)

22

In [69]:
res2[res2.Score == 2]

Empty DataFrame
Columns: [Crs & Sec, Instructor, Preferences, Time, Classroom, Time_index, Score]
Index: []

In [70]:
res2[res2.Score < 2]

Empty DataFrame
Columns: [Crs & Sec, Instructor, Preferences, Time, Classroom, Time_index, Score]
Index: []